.location-map {
  &__title {
    padding: var(--spacing-2xl) 0 var(--spacing-md);
    font-size: var(--font-size-xl);
    color: var(--color-text-primary);
    font-weight: var(--font-weight-semibold);
    text-align: center;
  }

  &__map {
    width: 100%;
    height: 400px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    overflow: hidden;
  }

  :deep([class*='map-copyrights-promo']) {
    display: none !important;
  }
}
