.examples {
  border-top: solid 1px var(--color-7);

  &__demonstration {
    @include container-lg;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: clamp(60px, 10vw, 100px) 0;
      gap: 40px;
    }
  }

  &__title {
    @include big-title;

    text-align: center;
  }

  &__description {
    @include small-title;

    text-align: center;
  }

  &__navigation {
    position: sticky;
    top: 60px;
    z-index: 10;
    background-color: var(--color-background);
    border-top: 1px solid var(--color-7);
    border-bottom: 1px solid var(--color-7);

    @include media-tablet {
      top: 50px;
    }

    &-scrollable {
      @include container-lg;

      overflow: auto hidden;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(6, minmax(150px, 1fr));
    }

    &-item {
      cursor: pointer;
      padding: 20px 16px;
      transition: all 0.2s ease;
      white-space: nowrap;
      color: var(--color-4);
      font-weight: 400;
      text-align: center;

      &:not(&_active):hover {
        background-color: var(--color-7);
        color: var(--color-text-light);
      }

      &_active {
        background-color: var(--color-1);
        color: var(--color-background-dark);
        cursor: default;
      }
    }
  }

  &__features-list {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__pipeline {
    display: flex;
    justify-content: center;
    padding: 60px 0 40px;
    overflow: hidden;
  }

  &__pipeline-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  &__pipeline-animated {
    // Контейнер для анимации появления Pipeline
  }

  &__rest-api {
    margin-top: 60px;
  }

  &__app-platform {
    margin-top: 60px;
  }
}
