@import 'https://fonts.googleapis.com/css2?family=Gidole&family=Roboto&family=Roboto:wght@900&display=swap';

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;

  &.image-modal-open {
    overflow: hidden;
  }
}

.swiper {
  &-wrapper {
    align-items: center;
  }

  &-slide {
    display: flex !important;
    min-height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 14px 0 5px;

    &-bullet {
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: solid 1px var(--color-primary);
      cursor: pointer;

      &-active {
        background-color: var(--color-primary);
      }
    }
  }
}

@media print {
  .header,
  #splash,
  .contacts__form-section,
  .about__tech-title,
  .about__tech-wrapper,
  .contacts__item-icon,
  .feature-icon {
    display: none !important;
  }

  .contacts__content {
    grid-template-columns: 1fr !important;
  }

  .remote-workplace,
  .remote-workplace__title,
  .remote-workplace__description,
  .remote-workplace__subtitle,
  .feature-title,
  .feature-description,
  .section-title,
  .benefit-item {
    color: #000 !important;
  }
}
