.experience {
  padding: clamp(50px, 5vw, 80px) 0;

  &__container {
    @include container-lg;
  }

  &__title {
    @include big-title;

    padding-bottom: 50px;
  }

  &__years {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: clamp(30px, 6vw, 50px);
    font-weight: 200;
    color: var(--color-7);

    &-text {
      position: relative;
      padding: 0 20px;
      background-color: var(--color-background);
    }
  }

  &__years::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-7);
  }

  &__companies {
    @include grid-3-cols;

    padding: clamp(40px, 8vw, 70px) 0;
  }

  &__companies-header {
    @include grid-2-cols;

    padding: clamp(40px, 10vw, 70px) 0;
  }
}
