.feature-item {
  position: relative;
  padding: clamp(60px, 5vw, 100px) 0;
  border-bottom: 1px dashed var(--color-8);
  scroll-margin-top: var(--spacing-lg);
  transition: max-height 0.5s ease-in-out;

  &:last-child {
    border-bottom: none;
  }

  &__container {
    @include container-lg;
  }

  &__header {
    position: relative;
    display: grid;
    grid-template-columns: minmax(400px, 600px) minmax(400px, 714px);
    gap: clamp(35px, 6vw, 75px);
    padding-bottom: clamp(50px, 5vw, 100px);

    @include media-desktop {
      &_reverse {
        grid-template-columns: minmax(400px, 714px) minmax(400px, 600px);

        > .feature-item__image-container {
          order: 2;
        }

        > .feature-item__side-block {
          order: 1;
        }
      }
    }

    @include media-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    position: sticky;
    top: 200px;
    border-radius: 10px;
    display: block;
    width: 100%;
    object-fit: cover;

    &-container {
      position: relative;
    }

    &-picture {
      position: sticky;
      top: 224px;
    }
  }

  &__side-block-header {
    display: flex;
    flex-direction: column;
    gap: clamp(3px, 6vw, 55px);
    padding-bottom: clamp(20px, 5vw, 100px);
  }

  &__header-subtitle-description {
    grid-template-columns: 1fr;
  }

  &__features {
    @include grid-1-cols;

    gap: clamp(35px, 6vw, 50px);
  }

  &__title {
    @include big-title;
  }

  &__subtitle {
    @include medium-title;
  }

  &__description {
    @include mini-title;

    text-align: left;
    color: var(--color-4);
  }

  &__content {
    display: grid;
    gap: clamp(50px, 8vw, 100px);
  }

  &__section {
    &-title {
      @include medium-title;

      padding-bottom: clamp(40px, 5vw, 50px);
    }

    &_process {
      padding: 30px 0 30px 30px;

      @include media-tablet {
        padding: 30px 30px 0;
      }
    }

    &_architecture {
      padding: 30px 30px 30px 0;
      position: relative;

      @include media-tablet {
        padding: 0 30px 30px;
      }
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-md);

    &-bullet {
      position: relative;
      top: 8px;
      width: 8px;
      height: 8px;
      border-radius: var(--radius-full);
      flex-shrink: 0;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-title {
      @include small-title;
    }

    &-description {
      color: var(--color-4);
    }
  }

  &__section-group {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 40px;
    position: relative;
    border: solid 1px var(--color-dark);
    border-radius: 10px;
    background-color: #121212;
    background-image: url('@/view/assets/images/feature-process-background.svg?url');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-separator {
      position: relative;
      top: 0;
      width: 0;
      height: 100%;
      border-left: solid 1px var(--color-7);

      @include media-tablet {
        width: 100%;
        height: 0;
        border-left: none;
        border-top: solid 1px var(--color-7);
      }
    }

    @include media-tablet {
      grid-template-columns: 1fr;

      &::before {
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
      }
    }
  }

  &__process {
    position: relative;
    display: grid;
    gap: clamp(40px, 8vw, 80px);

    &-step {
      position: relative;
      display: flex;
      gap: var(--spacing-lg);
      align-items: flex-start;
    }

    &-line {
      position: absolute;
      top: 14px;
      left: 16px;
      height: calc(100% + 65px);
      width: 1px;
      border-left: 2px dashed currentcolor;
      opacity: 0.4;
    }
  }

  &__step-number {
    position: relative;
    width: var(--icon-size-md);
    height: var(--icon-size-md);
    color: var(--color-text-light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-semibold);
    border-radius: var(--radius-full);
    flex-shrink: 0;
    font-size: var(--font-size-base);
    box-shadow: 0 0 0 14px #121212;
  }

  &__step {
    &-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-title {
      @include mini-title;
    }

    &-description {
      color: var(--color-4);
    }
  }

  &__architecture {
    display: grid;
    gap: 30px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 30px;
      border: dotted 2px var(--color-7);
      border-radius: 10px;
      background-color: var(--color-background);

      &-title {
        @include mini-title;
      }

      &-description {
        color: var(--color-4);
      }
    }
  }

  &__benefits {
    @include grid-3-cols;
  }

  &__benefit {
    position: relative;
    display: flex;
    gap: var(--spacing-md);
    align-items: flex-start;
    padding-top: 14px;
    color: var(--color-4);

    &-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 3px;
      transition: width 0.3s ease;
    }

    &:hover .feature-item__benefit-bar {
      width: 100%;
    }

    &-text {
      flex: 1;
    }
  }
}
