.ai-feature {
  border-top: solid 1px var(--color-7);
  border-bottom: solid 1px var(--color-7);
  background-color: #0e0d0d;

  &__container {
    @include container-lg;
  }

  &__content {
    padding: clamp(70px, 10vw, 80px) 0;
    font-size: 16px;
    font-weight: 300;
  }

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    @include big-title;

    span {
      font-size: clamp(42px, 6vw, 70px);
      color: var(--color-1);
      font-weight: 600;
    }
  }

  &__description {
    @include medium-title;
  }

  &__options {
    @include grid-2-cols;

    padding: 20px 0 clamp(30px, 4vw, 60px);
  }

  &__option {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-icon {
      width: clamp(30px, 4vw, 40px);
      height: clamp(30px, 4vw, 40px);
      mask-repeat: no-repeat;
      mask-position: bottom left;
      mask-size: contain;
      background-color: var(--color-2);

      &_1 {
        mask-image: url('@/view/assets/images/ai-components.svg');
      }

      &_2 {
        mask-image: url('@/view/assets/images/ai-documentation.svg');
      }

      &_3 {
        mask-image: url('@/view/assets/images/ai-refactor.svg');
      }

      &_4 {
        mask-image: url('@/view/assets/images/ai-testing.svg');
      }
    }

    &-title {
      @include small-title;
    }

    &-list {
      @include regular-text;

      display: flex;
      flex-direction: column;
      gap: 10px;

      &-item {
        position: relative;
        padding-left: 16px;
        color: var(--color-4);
      }

      &-item::before {
        display: block;
        content: ' ';
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-1);
      }
    }
  }

  &__models-wrapper {
    display: grid;
    grid-template-columns: minmax(390px, 1fr) minmax(390px, 1fr);
    gap: 75px;

    @include media-tablet {
      display: flex;
      flex-direction: column-reverse;
      gap: clamp(45px, 7vw, 70px);
    }
  }

  &__models {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }

  &__model {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 35px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-logo {
      mask-repeat: no-repeat;
      mask-position: top center;
      mask-size: contain;
      background-color: var(--color-1);

      &_claude {
        mask-image: url('@/view/assets/images/claude-logo.svg?url');
      }

      &_copilot {
        mask-image: url('@/view/assets/images/github-copilot-logo.svg?url');
      }

      &_cursor {
        mask-image: url('@/view/assets/images/cursor-logo.svg?url');
      }
    }

    &-title {
      @include medium-title;
    }

    &-description {
      @include regular-text;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
}
