@use './media.scss' as *;

@mixin section-title {
  padding: var(--spacing-2xl) var(--spacing-md);
  color: var(--color-text-primary);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--font-size-6xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  text-align: center;

  @include media-tablet {
    padding: var(--spacing-xl) var(--spacing-sm);
    font-size: var(--font-size-4xl);
  }
}
