@mixin media-desktop {
  @media (width <= 1360px) {
    @content;
  }
}

@mixin media-tablet {
  @media (width <= 768px) {
    @content;
  }
}

@mixin media-mobile {
  @media (width <= 480px) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (width <= 360px) {
    @content;
  }
}
