@define-mixin media-desktop {
  @media (max-width: 1360px) {
    @mixin-content;
  }
}

@define-mixin media-tablet {
  @media (max-width: 768px) {
    @mixin-content;
  }
}

@define-mixin media-mobile {
  @media (max-width: 480px) {
    @mixin-content;
  }
}

@define-mixin media-mobile-small {
  @media (max-width: 360px) {
    @mixin-content;
  }
}
