@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--dark);
}
