@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex !important;
  min-height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 14px 0 5px;
}

.swiper-pagination-bullet {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: solid 1px var(--color-primary);
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

body.image-modal-open {
  overflow: hidden;
}
