.toolz {
  padding: clamp(50px, 5vw, 80px) 0 0;
  border-top: solid 1px var(--color-7);

  &__container {
    @include container-lg;
  }

  &__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: clamp(-80px, -5vw, -50px);
    }

    &-logo {
      position: relative;
      display: block;
      width: clamp(300px, 63vw, 630px);
      height: clamp(95px, 18vw, 200px);
      mask-image: url('@/view/assets/images/toolz-logo.svg');
      mask-position: center center;
      mask-size: contain;
      mask-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        rgb(173 3 159 / 100%) 0%,
        rgb(84 219 235 / 100%) 16.67%,
        rgb(148 249 102 / 100%) 33.33%,
        rgb(173 3 159 / 100%) 50%,
        rgb(84 219 235 / 100%) 66.67%,
        rgb(148 249 102 / 100%) 83.33%,
        rgb(173 3 159 / 100%) 100%
      );
      background-size: 200% 100%;
      animation: toolz-gradient-flow 4s linear infinite;
    }

    &-logo-reflect {
      position: relative;
      display: block;
      width: clamp(300px, 63vw, 630px);
      height: clamp(95px, 18vw, 200px);
      mask-image: url('@/view/assets/images/toolz-logo.svg');
      mask-position: center center;
      mask-size: contain;
      mask-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        rgb(173 3 159 / 100%) 0%,
        rgb(84 219 235 / 100%) 16.67%,
        rgb(148 249 102 / 100%) 33.33%,
        rgb(173 3 159 / 100%) 50%,
        rgb(84 219 235 / 100%) 66.67%,
        rgb(148 249 102 / 100%) 83.33%,
        rgb(173 3 159 / 100%) 100%
      );
      background-size: 200% 100%;
      animation: toolz-gradient-flow 4s linear infinite;
      transform: scaleY(-1);
      opacity: 0.6;
      filter: blur(10px);
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(21 21 21 / 100%) 50%, rgb(21 21 21 / 50%) 100%);
        z-index: 1;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 800px;
      z-index: 1;
    }

    &-title {
      @include hight-title;
    }

    &-text {
      color: var(--color-4);
    }
  }
}

@keyframes toolz-gradient-flow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}
