.company-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  position: relative;

  &:hover {
    opacity: 1;
  }

  &_header {
    opacity: 1;

    .company-item__name {
      font-weight: 600;
    }

    .company-item__description {
      display: block;
    }
  }

  &__logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    filter: drop-shadow(0 4px 10px rgb(0 0 0 / 80%));
    overflow: hidden;

    &_blank {
      border: solid 1px var(--api-scrollbar-thumb);
      background-color: var(--api-card-bg);
      filter: none;
    }

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__header-data {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name {
    @include big-link;
  }

  &__link {
    transition: color 0.2s ease;

    &:hover {
      color: var(--color-1);
    }
  }

  &__link-arrow {
    position: relative;
    margin-left: 10px;
    top: -4px;
  }

  &__period {
    font-size: 14px;
    font-weight: 200;
    color: var(--color-4);
  }

  &__position {
    font-size: 18px;
    font-weight: 200;
    color: var(--color-6);
  }

  &__description {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-4);
  }
}
