.travelshop {
  padding: 0 0 var(--spacing-xl);

  &__container {
    @include container-lg;

    position: relative;
  }

  &__airplane_top {
    padding: clamp(50px, 5vw, 100px) clamp(20px, 5vw, 50px);

    &::before {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 820px;
      content: ' ';
      background-image: url('@/view/assets/images/airplane.svg');
      background-position: top center;
      background-size: 100% 200%;
      background-repeat: no-repeat;
      pointer-events: none;
      opacity: 0.05;
    }
  }

  &__airplane_bottom {
    background-image: url('@/view/assets/images/airplane.svg');
    background-position: bottom center;
    background-size: 100% 200%;
    background-repeat: no-repeat;
  }

  &__intro {
    background-color: var(--color-light);
    color: var(--color-dark);

    &-description {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 1040px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(80px, 8vw, 120px);
    padding: clamp(40px, 8vw, 80px) 0;
  }

  &__role {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-7);
    color: #fff;
  }

  &__section {
    &-title {
      @include hight-title;

      padding-bottom: 50px;
    }

    &_images-button {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    @include big-title;
  }

  &__subtitle {
    @include medium-title;
  }

  &__features {
    @include grid-2-cols;

    &-wrapper {
      display: grid;
      grid-template-columns: minmax(445px, 720px) minmax(340px, 600px);
      gap: 75px;

      @include media-tablet {
        @include grid-1-cols;
      }
    }
  }

  &__tsh-image {
    position: sticky;
    top: 100px;
    width: 100%;
    height: auto;
    display: block;
    border: solid 1px var(--color-dark);
    border-radius: 10px;
    object-fit: cover;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-icon {
      display: block;
      width: clamp(30px, 4vw, 40px);
      height: clamp(30px, 4vw, 40px);
      mask-repeat: no-repeat;
      mask-position: bottom left;
      mask-size: contain;
      background-color: var(--color-2);

      &_flight-search {
        mask-image: url('@/view/assets/images/flight-search-icon.svg');
      }

      &_price-tag {
        mask-image: url('@/view/assets/images/price-tag-icon.svg');
      }

      &_checklist {
        mask-image: url('@/view/assets/images/checklist-icon.svg');
      }

      &_user-management {
        mask-image: url('@/view/assets/images/user-management-icon.svg');
      }

      &_api {
        mask-image: url('@/view/assets/images/api-icon.svg');
      }

      &_luggage {
        mask-image: url('@/view/assets/images/luggage-icon.svg');
      }

      &_responsive {
        mask-image: url('@/view/assets/images/responsive-icon.svg');
      }

      &_mobile-app {
        mask-image: url('@/view/assets/images/mobile-app-icon.svg');
      }

      &_exchange {
        mask-image: url('@/view/assets/images/exchange-icon.svg');
      }

      &_shopping-cart {
        mask-image: url('@/view/assets/images/shopping-cart-icon.svg');
      }

      &_profile {
        mask-image: url('@/view/assets/images/profile-icon.svg');
      }

      &_web-checkin {
        mask-image: url('@/view/assets/images/web-checkin-icon.svg');
      }
    }

    &-title {
      @include mini-title;
    }

    &-text {
      color: var(--color-4);
    }
  }

  &__chart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    gap: 50px;

    &-item {
      max-width: 260px;
    }
  }

  &__achievement {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      place-self: center center;
    }

    &-item {
      position: relative;
      padding-left: 16px;
    }

    &-item::before {
      display: block;
      content: ' ';
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-2);
    }
  }

  &__projects {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
  }

  &__project {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-header {
      @include big-link;

      transition: color 0.2s ease;

      &:hover {
        color: var(--color-1);
      }
    }

    &-arrow {
      position: relative;
      margin-left: 10px;
      top: -4px;
    }
  }

  &__gallery-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-3xl);
    width: 100%;
    height: 300px;
  }
}
