.pipeline-step-block {
  display: flex;
  flex-direction: column;
  background: var(--color-background-dark);
  border: solid 1px #333;
  border-radius: 10px;
  overflow: hidden;

  &__header {
    padding: 12px 16px;
    border-bottom: solid 1px #333;
    background-color: #0c0c0c;
  }

  &__header_request {
    color: rgb(181 131 188);
  }

  &__header_response {
    color: rgb(122 156 185);
  }

  &__header_data {
    color: rgb(124 162 93);
  }

  &__body {
    padding: 12px 16px;
  }
}

.pipeline-step-block-slide-fade-up-enter-active {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.pipeline-step-block-slide-fade-up-leave-active {
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.pipeline-step-block-slide-fade-up-enter-from,
.pipeline-step-block-slide-fade-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.pipeline-step-block-slide-fade-up-enter-to,
.pipeline-step-block-slide-fade-up-leave-from {
  opacity: 1;
  transform: translateY(0);
}
