.blog {
  padding: clamp(50px, 5vw, 80px) 0 0;
  border-top: solid 1px var(--color-7);

  &__container {
    @include container-lg;

    display: flex;
    justify-content: center;
  }

  &__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 800px;
  }

  &__header {
    @include big-title;
  }

  &__image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  &__description {
    color: var(--color-4);
  }
}
