.ui-circle-chart {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);

  &__value {
    font-weight: bold;
    transition: all 0.1s ease;
  }

  &__label {
    font-size: var(--font-size-md);
    line-height: 1.6;
    text-align: center;
    color: var(--color-text-secondary);
  }
}
