.blog-item {
  &__post {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:hover .blog-item__image {
      transform: scale(1.2);
    }
  }

  &__post-image-wrapper {
    border-radius: 10px;
    aspect-ratio: 3 / 2;
    overflow: hidden;
  }

  &__image {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  &__title {
    @include nano-title;

    transition: color 0.2s ease;

    &_secondary {
      @include regular-text;
    }
  }

  &__text {
    color: var(--color-4);

    p {
      padding: 0;
      margin: 0;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .blog-item__post:hover {
    .blog-item__title {
      color: var(--color-1);
    }
  }
}
